.icons {
  width: 60vh;
  display: flex;
  justify-content: center;
}
.icon--wrap {
  display: flex;
  justify-content: center;

  margin-top: 10vh;
}

.skill--head {
  font-size: 60px;
  font-weight: 900;
  color: #00008a;
  text-align: center;
}

#skill--img {
  height: 110vh;
}
@media (max-width: 1000px) {
  #skill--img {
    height: 80vh;
  }
}
@media (max-width: 750px) {
  #skill--img {
    height: 60vh;
  }
}

@media (max-width: 450px) {
  #skill--img {
    height: 40vh;
  }
}
